{% extends 'components/order_tracking_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}

<div class="main-container">
    <div class="order-tracking-container">

        <div class="left">
            <div class="arrival-time">
                <p id="time-label">Arriving in</p>
                <h1 id="time">20<span>&#x2014;</span>25 min</h1>
            </div>

            <div id="progress-bar" class="progress-bar">
                <div id="progress1" class="progress1"></div>
                <div id="progress2" class="progress2"></div>
                <div id="progress3" class="progress3"></div>
                <div id="progress4" class="progress4"></div>
            </div>

            <div class="arrival-notice">
                <h2 id="statusReport">Your order is pending</h2>
                <p id="statusMessage">Restaurant will approve your order in a moment</p>
            </div>
        </div>
        
        <div class="right">
            <div class="img-container">
                <img id="status-image" src="{% static 'icons/cooking.png' %}">
            </div>
        </div>
    </div>

    <div class="order-details-container">
        <h1>Order Details</h1>
        <div class="order-details">
            <div class="wrap-left">
                <div class="restaurant-image-container">
                    <img class="image" src="{{ restaurant.profile_picture.url }}" alt="{{ restaurant.name }}">
                </div>
             
                <div class="details-container">
                    <h3>{{ restaurant.name }} {{ restaurant.baranggay }}</h3>
                    <p>Order #{{ order.id }}</p>
                    
                    <p>Delivery Address</p>
                    <h4 id="streetAddress">{{ address.street }}</h4>
                    <p>Marawi City</p>
                </div>
            </div>

            <div class="total-price">
                <h4>&#8369;{{ order.total_amount }}</h4>
            </div>
        </div>
        <hr>

        <div class="view-details">
            <h1>View Details</h1>
            {% for item in order_items %}
            <div class="space-between-wrap">
                <div class="wrap-label">
                    <p>{{ item.quantity }} x {{ item.product.name }}</p>
                </div>
                <div class="wrap-price">
                    <p>&#8369;{{ item.product.price }}</p>
                </div>
            </div>
            {% endfor %}
            <hr class="hr2">

            <div class="space-between-wrap">
                <div class="wrap-label">
                    <p>Subtotal</p>
                </div>
                <div class="wrap-price">
                    <p>&#8369;{{ total_subtotal }}</p>
                </div>
            </div>

            <div class="space-between-wrap">
                <div class="wrap-label">
                    <p>Standard delivery</p>
                </div>
                <div class="wrap-price">
                    <p>&#8369;{{ order.rider_fee }}</p>
                </div>
            </div>

            <div class="space-between-wrap">
                <div class="wrap-label">
                    <h2>Total</h2>
                </div>
                <div class="wrap-price">
                    <p>&#8369;{{ order.total_amount }}</p>
                </div>
            </div>

            <hr class="hr2">
            <div class="space-between-wrap">
                <div class="wrap-label2">
                    <h4 class="gray">Paid With</h4>
                    <div class="wrap-label">
                        <img class="payment-icon" src="{% static 'icons/cod.svg' %}">
                        <p class="gray">Cash On Delivery</p>
                    </div>
                </div>
                <div class="wrap-price">
                    <p id="bottom-price" class="gray">&#8369;{{ order.total_amount }}</p>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    const statusImage = document.getElementById('status-image');
    const progressBar = document.getElementById('progress-bar')
    const status2 = document.getElementById('progress2');
    const status3 = document.getElementById('progress3');
    const status4 = document.getElementById('progress4');
    const statusReport = document.getElementById('statusReport');
    const statusMessage = document.getElementById('statusMessage');
    const time = document.getElementById('time');
    const timeLabel = document.getElementById('time-label');

    function updateStatusUI(status) {
        if (status === 'preparing') {
            status2.style.backgroundColor = "#2c786c";
            statusReport.textContent = "Preparing your order";
            statusMessage.textContent = "When it's ready, the rider will pick up your order.";

        } else if (status === 'assigned') {
            statusReport.textContent = "A rider is assigned to your order";
            statusMessage.textContent = "Rider is heading to the restaurant.";
            time.innerHTML = "15<span>&#x2014;</span>20 min";

        } else if (status === 'ready') {
            statusReport.textContent = "Your order is ready";
            statusMessage.textContent = "Waiting for the rider to pick up your order.";
            time.innerHTML = "15<span>&#x2014;</span>20 min";

        } else if (status === 'otw') {
            status2.style.backgroundColor = "#2c786c";
            status3.style.backgroundColor = "#2c786c";
            statusReport.textContent = "On the way";
            statusMessage.textContent = "The rider is heading to you.";
            time.innerHTML = "10<span>&#x2014;</span>15 min";

        } else if (status === 'delivered') {
            status2.style.backgroundColor = "#2c786c";
            status3.style.backgroundColor = "#2c786c";
            status4.style.backgroundColor = "#2c786c";
            statusReport.textContent = "Delivered";
            statusMessage.textContent = "Enjoy your meal!";
            time.style.display = "none";
            timeLabel.style.display = "none";
            progressBar.style.display = 'none';
            statusImage.src = "{% static 'icons/enjoy.png' %}";
            statusImage.style.transform = '50px';
        }
    }

    function fetchStatus() {
  
        fetch("{% url 'get_order_status' order.id %}")
            .then(response => response.json())
            .then(data => {
                if (data.status) {
                    updateStatusUI(data.status); 
                } else if (data.error) {
                    console.error(data.error); 
                }
            })
            .catch(error => console.error('Error fetching status:', error));
    }


    setInterval(fetchStatus, 5000);


    fetchStatus();
</script>


{% endblock %}