

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soti Delivery</title>
    <link rel="stylesheet" href="{% static '/core/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/core/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Rye&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Rye&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
        
            <div class="logo">
                <a class="soti-delivery-logo" href="index.php">SotiDelivery</a>
            </div>
            <!-- <span class="trade-mark">&#8482;</span> -->
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <ul class="nav-links">
            <li id="login" class="log-in"><a href="#">Log in</a></li>
            <li  id="signup" class="sign-up"><a href="#">Sign up</a></li>
        </ul>
           
    </nav>
    <div id="index-hero" class="index-hero">
        <div class="hero-container">
            <h1 class="slogan">It's the <span class="food"> food </span>you love, delivered to you</h1>
            <img src="{% static 'core/images/indexBG6.png' %}" alt="SotiDelivery">
        </div>
    </div>
    
    <div class="index-hero2">
        <h1 class="slogan2">You prepare the feast, we bring the <span class="food"> yum!</span> </h1>
        <div class="img-container">
            <img src="{% static 'core/images/register-action10.png' %}" alt="SotiDelivery">
        </div>
        <div class="list-your-shop-container">
            <h1>List your restaurant on SotiDelivery</h1>
            <p>Would you like more customers to enjoy your amazing food? So would we!</p>
            <p>It’s easy: we list your menu online, help you process orders, pick them up, and deliver them to eager customers in no time.</p>
            <p>Interested? Let’s start our partnership today!</p>
            <button><a class="restaurant_register" href="partner.php">Get started</a></button>
        </div>
    </div>
    
    <div class="cards-container">
    
        <div class="index-hero3"  id="be-a-rider">
            <div class="hero3-image-container">
                <img class="indeximg3" src="rider/rider-img/become-a-rider.png">
                register-action10.png
            </div>
            <div class="hero3-cta">
                <span class="guides">Guides</span>
                <h1>Become a Rider</h1>
                <p class="info">Find out how you can join us here.</p>
            </div>
        </div>
    
        <div class="index-hero3"  id="be-a-rider">
            <div class="hero3-image-container">
                <img class="indeximg3" src="rider/rider-img/card2.png">
            </div>
            <div class="hero3-cta">
                <span class="guides">Guides</span>
                <h1>Soti Riders Portal</h1>
                <p class="info">Dedicated riders hub</p>
            </div>
        </div>
    
        <div class="index-hero3">
            <div class="hero3-image-container">
            <img class="indeximg3" src="rider/rider-img/card5.png">
            </div>
            <div class="hero3-cta"></div>
        </div>
    
    
    
    </div>
    

</body>
</html>
