

<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soti Delivery</title>
    <link rel="stylesheet" href="{% static '/core/css/nav.css' %}">
    <link rel="stylesheet" href="{% static '/core/css/index.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100..900;1,100..900&family=Dosis:wght@200..800&family=Raleway:ital,wght@0,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Rye&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Antonio:wght@700&family=Montagu+Slab:opsz,wght@16..144,100..700&family=Palanquin:wght@100;200;300;400;500;600;700&family=Rye&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar">
        <div class="logo-container">
        
            <div class="logo">
                <a class="soti-delivery-logo" href="index.php">SotiDelivery</a>
            </div>
            <!-- <span class="trade-mark">&#8482;</span> -->
        </div>
        <input type="checkbox" id="menu-toggle">
        <label for="menu-toggle" class="hamburger">&#9776;</label>
        <ul class="nav-links">
            <li id="login" class="log-in"><a href="#">Log in</a></li>
            <li  id="signup" class="sign-up"><a href="#">Sign up</a></li>
        </ul>
           
    </nav>
    <div id="index-hero" class="index-hero">
        <div class="hero-container">
            <h1 class="slogan">It's the <span class="food"> food </span>you love, delivered to you</h1>
            <img class="indeximg" src="{% static 'core/images/indexBG6.png' %}" alt="SotiDelivery">
        </div>
    </div>
    
    <div class="index-hero2">
        <h1 class="slogan2">You prepare the feast, we bring the <span class="food"> yum!</span> </h1>
        <div class="img-container">
            <img class="indeximg2" src="{% static 'core/images/register-action10.png' %}" alt="SotiDelivery">
        </div>
        <div class="list-your-shop-container">
            <h1>List your restaurant on SotiDelivery</h1>
            <p>Would you like more customers to enjoy your amazing food? So would we!</p>
            <p>It’s easy: we list your menu online, help you process orders, pick them up, and deliver them to eager customers in no time.</p>
            <p>Interested? Let’s start our partnership today!</p>
            <button><a class="restaurant_register" href="partner.html">Get started</a></button>
        </div>
    </div>
    
    <div class="cards-container">
    
        <div class="index-hero3"  id="be-a-rider">
            <div class="hero3-image-container">
                <img class="indeximg3" src="{% static 'core/images/become-a-rider.png' %}" alt="SotiDelivery">               
            </div>
            <div class="hero3-cta">
                <span class="guides">Guides</span>
                <h1>Become a Rider</h1>
                <p class="info">Find out how you can join us here.</p>
            </div>
        </div>
    
        <div class="index-hero3"  id="be-a-rider2">
            <div class="hero3-image-container">
                <img class="indeximg3" src="{% static 'core/images/card2.png' %}" alt="SotiDelivery">               
            </div>
            <div class="hero3-cta">
                <span class="guides">Guides</span>
                <h1>Soti Riders Portal</h1>
                <p class="info">Dedicated riders hub</p>
            </div>
        </div>
    
        <div class="index-hero3">
            <div class="hero3-image-container">
            <img class="indeximg3" src="{% static 'core/images/card5.png' %}" alt="SotiDelivery">
            </div>
            <div class="hero3-cta"></div>
        </div>
    
    
    
    </div>

    
<div id="loginModal">
    <div class="modal-content"> 
        <div class="action-container">
            <div id="back-button" class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div id="close-button" class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <div id="welcome-container" class="welcome-container">
            <h1>Welcome!</h1>
            <p>Sign up or login to Continue</p>
        </div>
        <button id="log-in">Log in</button>
        <button id="sign-up">Sign up</button>
        <p class="term-condition" id="term-condition">
            By signing up, you agree to our 
            <span class="highlight">Terms and Conditions</span> and 
            <span class="highlight">Privacy Policy</span>.
        </p>
        
    </div>
</div>


<div id="check-email-Modal">
    <div class="check-email-modal-content"> 
        <div class="action-container">
            <div class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <!-- <form id="emailForm" action="check_email.php" method="POST"> -->
        <form id="magicLinkForm" method="POST">
            {% csrf_token %}
            <div class="check-account-container">
                <img class="emailimg" src="{% static 'core/images/email.png' %}" alt="SotiDelivery">
                <h1>What's your email?</h1> 
                <p>We'll check if you have an account</p>
            </div>
            <div class="email-input-container">
                <!-- <input id="type-email" type="email" name="email" required placeholder="Email"> -->
                <!-- <label for="email">Enter your email:</label> -->
                <input type="email" id="email" name="email" required placeholder="Email">
                <button id="sendMagicLinkBtn" type="submit">Send Magic Link</button>
            </div>
            <div id="response-message">
                <p class="modalMessage" id="modalMessage"><span class="highlight">Secure, passwordless login.</span> Enter your email, get a <span class="highlight">magic link</span>, and you're in—no passwords, no hassle!</p>
                <p id="loadingIndicator" style="display: none;">Processing...</p>
                <p id="loginPassword" style="display: none;" onclick="passwordModal()">Or click <span class="here">here</span> login with password?</p>
            </div>
         
        </form>
        
    </div>
</div>


<div id="password-Modal">
    <div class="password-modal-content"> 
        <div class="action-container">
            <div class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <!-- <form id="emailForm" action="check_email.php" method="POST"> -->
        <form class="passwordForm" id="loginByPassword" method="POST">
            {% csrf_token %}
            <div class="check-account-container">
                <img class="passwordimg" src="{% static 'core/images/password.png' %}" alt="SotiDelivery">
                <h1>Hi, Welcome Back!</h1> 
                <p class="here" id="greetEmail"></p>
                <p>Enter your Password to Continue</p>
            </div>
            <div class="email-input-container">
                <input type="hidden" id="emailVariable" value="" name="email" placeholder="Email">
                <input type="password" id="password" name="password" placeholder="Password" required>
                <button id="sendPassword" type="submit">Login</button>
            </div>
            <div id="password-response-message">
                <p class="modalMessage" id="passwordMessage" ><span class="highlight">Secure, Password login.</span></p>
                <p id="passwordloadingIndicator" style="display: none;">Processing...</p>
                
            </div>
         
        </form>
        
    </div>
</div>


<div id="register-Modal">
    <div class="register-modal-content"> 
        <div class="action-container">
            <div class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <form class="registerForm" id="registerAccount" method="POST">
            {% csrf_token %}
            <div class="register-account-container">
                <img class="registerimg" src="{% static 'icons/register.png' %}" alt="SotiDelivery">
                <h1>Let's get you started</h1>
                <p class="here" id="greetEmail2"></p>
                <div id="error-message" style="color: red;"></div> 
            </div>
            <div class="register-input-container">
                <div class="firstname-lastname">
                    <input type="hidden" name="email" id="registerEmail" value=""> 
                    <input type="text" name="first-name" id="first-name" required placeholder="First Name">
                    <input type="text" name="last-name" id="last-name" required placeholder="Last Name">
                </div>
                <input type="password" name="password" id="passwordresgi" required placeholder="Password">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>

<!-- <div id="password-Modal">
    <div class="password-modal-content"> 
        <div class="action-container">
            <div class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <form id="passwordForm" action="check_password.php" method="POST">
            <input type="hidden" name="email" id="pass-email" value="">
            <div class="check-account-container">
                <img class="passwordimg" src="{% static 'core/images/password.png' %}" alt="SotiDelivery">
                <h1>Hi, Welcome Back</h1> 
                <p>Enter your password to proceed</p>
            </div>
            <div class="password-input-container">
                <input type="password" name="password" required placeholder="Password">
                <button type="submit">Continue</button>
            </div>
        </form>

        
    </div>
</div> -->

<!-- <div id="register-Modal">
    <div class="register-modal-content"> 
        <div class="action-container">
            <div class="back-button-container">
                <span class="back-button">&larr;</span>
            </div>
            <div class="close-button-container">
                <span onclick="closeModal()" style="cursor:pointer;">&times;</span> 
            </div>
        </div>
        <form id="registerForm" action="register_account.php" method="POST">
            <div class="register-account-container">
                <h1>Let's get you started</h1>
                <p></p> 
                <div id="error-message" style="color: red;"></div> 
            </div>
            <div class="register-input-container">
                <div class="firstname-lastname">
                    <input type="hidden" name="email" id="email" value=""> 
                    <input type="text" name="first-name" required placeholder="First Name">
                    <input type="text" name="last-name" required placeholder="Last Name">
                </div>
                <input type="password" name="password" required placeholder="Password">
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div> -->



    
<script src="{% static 'core/js/index.js' %}?v={{ timestamp }}"></script>
</body>
</html>
