<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome to Soti Delivery</title>
</head>
<body>
    <h1>Welcome to Soti Delivery</h1>
    <!-- <div>
        <a href="{% url 'customer:login' %}">Customer Login</a> | 
        <a href="{% url 'customer:register' %}">Customer Register</a>
    </div>
    <div>
        <a href="{% url 'restaurant:login' %}">Restaurant Login</a> | 
        <a href="{% url 'restaurant:register' %}">Restaurant Register</a>
    </div>
    <div>
        <a href="{% url 'rider:login' %}">Rider Login</a> | 
        <a href="{% url 'rider:register' %}">Rider Register</a>
    </div> -->
</body>
</html>
