<!DOCTYPE html>
{% load static %}
<nav class="navbar">
    <div class="logo-container">
        <div class="logo"><a class="soti-delivery-logo">SotiDelivery</a></div>
        <div class="logo">
        <div class="profile-container">
            <a class="profile" id="customer-profile" href="profile.html">
            <img class="profile-icon" src="{% static 'main_page/images/icons/user4.svg' %}">
               {}
            <img class="down" src="{% static 'main_page/images/icons/down3.svg' %}">
            </a>
        </div>
    </div>
    </div>
    
    <input type="checkbox" id="menu-toggle">
    <label for="menu-toggle" class="hamburger">&#9776;</label>
    <ul class="nav-links">
     
    </ul>
</nav>