.first-color { 
	background: #f8b400; 
}
	
.second-color { 
	background: #faf5e4; 
}

.third-color { 
	background: #2c786c; 

}

.fourth-color { 
	background: #004445; 
}
.fifth-color { 
	background: #45BA73; 
}


.fonts {
	font-family: "Palanquin", sans-serif;
	font-family: "Roboto", sans-serif;
	font-family: "Antonio", serif;
}