<!DOCTYPE html>

<nav class="navbar">
    <div class="links-container">
        <div class="link">
            <div class="icon-container">
                <img class="icon" {% static 'icons/header.png' %}>
            </div>
            <p>Home</p>
        </div>
        <div class="link">
            <div class="icon-container">
                <img src="icons/wallet1.svg">
            </div>
            <p>Wallet</p>
        </div>
        <div class="link">
            <div class="icon-container">
                <img src="icons/chat1.svg">
            </div>
            <p>Chat</p>
        </div>
        <div class="link">
            <div class="icon-container">
                <img src="icons/user1.svg">
            </div>
            <p>Profile</p>
        </div>
        
    </div>

</nav>
