

@media (max-width: 768px) {
    .deliver-container {
        /* border: 1px solid red; */
        display: flex;
        flex-direction: column;
        font-family: "Noto Sans", serif;

    }

    .map-wrap-container {
        /* border: 1px solid yellow; */
        width: 100%;
        height: 500px;
    }

    .map-directions-cover {
        width: 100%;
        height: 500px;
        /* background-color: green; */

    }

    .destination {
        /* border: 1px solid green; */
        padding: 20px;
        align-items: left;
        position: relative;
        bottom: 490px;
        
    
      
    }

    .pick-up-point, .drop-point {
        /* border: 1px solid red; */
        display: flex;
        justify-content: left;
        align-items: center;
        padding: 5px 20px 10px 20px;
        border-radius: 10px;
        background-color: white;
        line-height: 15px;
        /* border: 1px solid red; */
        height: 50px;
        box-shadow: 5px 5px 15px 3px rgba(0, 0, 0, 0.3);
    }

    .wrap-column-x p{
        
        position: relative;
        top: 5px;
        
        /* border: 1px solid red; */
    }
    .wrap-column-x h1{
        
        position: relative;
        bottom: 5px;
        
        /* border: 1px solid red; */
    }


   
    .destination h1 {
        font-size: 1rem;
        font-weight: 500;
    }
    .destination p {
        color: #888888;
        font-size: .8rem;
        font-weight: 400;
    }

    .location-icon-wrap {
        width: 20px;
        overflow: hidden;
        object-fit: cover;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;
        border-radius: 50%;
        margin-right: 20px;
     
    }

    .icon {
        width: 100%;
        object-fit: cover;
    }

   
 

    .delivery-details {
        /* border: 1px solid red; */
        padding: 30px 20px 30px 20px;
        position: relative;
        bottom: 100px;
        border-radius: 40px;
        background-color: white;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }

    .wrap-row {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        width: 100%;
    }

    .client-profile {
        border: 1px solid #ccc;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 10px;
    
    }

    .profile-image {
        width: 40px;
        overflow: hidden;
        object-fit: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        /* border: 1px solid red; */
        border-radius: 50%;
        margin-right: 10px;
    }

    .profile {
        width: 100%;
        object-fit: cover;
    }

    .wrap-column {
        display: flex;
        flex-direction: column;
        line-height: 0px;
        padding: 0;
        margin: 0;
        gap: 0;
        /* border: 1px solid red; */
    }

    .wrap-column2 {
        /* border: 1px solid red; */
        line-height: 0px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: top;
        width: 100%;
        padding: 0;
        margin: 0;
        position: relative;
        top: 5px;
    }

    .wrap-column2 h1 {
        font-size: 1rem;
        font-weight: 500;
        color: #111111;
    }
    .wrap-column2 p {
        color: #777777;
        font-weight: 400;
        position: relative;
        bottom: 5px;
    }

    .wrap-space-between {
        display: flex;
    }

    .icon-container {
        width: 30px;
        object-fit: cover;
        display: flex;
        align-items: center;
        overflow: hidden;
    }

    .icon {
        width: 100%;
    }

    .destination-container {
        /* border: 1px solid green; */
        padding: 20px 10px 20px 10px;
        /* display: none; */
    }

    .destination-point {
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        line-height: 10px;
        justify-content: start;
        align-items: top;
        margin-bottom: 5px;
        /* border: 1px solid red; */
    }
    .destination-point2 {
        display: flex;
        flex-direction: row;
        /* flex-direction: column; */
        line-height: 10px;
        justify-content: start;
        align-items: top;
        /* border: 1px solid red; */
        margin-top: 5px;
    }

    .marker-icon {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
    }
    .marker-icon2 {
        width: 25px;
        height: 25px;
        margin-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .line-break-design {
        display: flex;
        justify-content: left;
        align-items: center;
    }

    .square-container1 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 5px;
        padding-right: 20px;
        padding-left: 10px;
        margin-top: 3px;
    }
    .square-container2 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 5px;
        padding-right: 20px;
        padding-left: 10px;
    }
    .square-container3 {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
        gap: 5px;
        padding-right: 20px;
        padding-left: 10px;
    }

    .square1, .square2, .square3 {
        width: 5px;
        height: 5px;
        
        background-color: #ccc;
    }

    .horizontal-line {
        width: 90%;
        height: 1px;
        background-color: #ccc;
       
    }

    
    .amount-container {
        /* border: 1px solid red; */
        display: flex;
        justify-content: space-between;
        padding: 10px 15px 10px 15px;
        align-items: center;
        background-color: #111111;
        border-radius: 10px;
        margin-bottom: 20px;
        margin-top: 0px;
    }

    .wrap-space-between2 {
        display: flex;
        flex-direction: column;
        line-height: 0px;
        color: #ffffff;
    }
    .wrap-space-between2 h1{
        font-size: 1rem;
    }
    
    .wrap-space-between2 p{
        color: #ccc;
        font-size: .8rem;
    }

    .status-update-container {
        /* border: 1px solid red; */
        padding: 5px;
        border-radius: 10px;
        background-color: #45BA73;
    }
    

    .custom-button {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .custom-button p{
        color: #fff;
    }

    .custom-button-icon {
        width: 40px;
        height: 40px;
        margin-right: 5px;
    }

    .status-update-container2 {
        /* border: 1px solid red; */
        padding: 5px 15px 5px 15px;
        border-radius: 10px;
        background-color: whitesmoke;
    }
    
    
    .wrap-column3 {
        display: flex;
        align-items: left;
        justify-content: center;
        flex-direction: column;
        /* border: 1px solid red; */
        line-height: 0px;
    }

    .wrap-column3 h1 {
        font-size: 1.2rem;
        color: #45BA73;
    }

    .custom-button2 {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #45BA73;
        width: 200px;
        border-radius: 10px;
    }

    .custom-button2 h1{
        color: white;
        font-size: 1.2rem;
        font-weight: 500;
        /* background-color: #ffffff; */
    }

    .custom-button-icon2 {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    #orderDelivered {
        cursor: pointer;
    }

    #successContainer {
        display: none;
    }
    .success-container {
        position: absolute;
        border: 1px solid red;
        width: 100%;
        height: 100vh;
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #45BA73;
        opacity: .9;
        color: white;
  
    }

    .success-content {
        display: flex;
        flex-direction: column;
    }
    /* .success-message {
        position: absolute;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        flex-direction: column;
    } */

    #moreOrders {
        padding: 20px;
        border-radius: 5px;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    .initial-message {
        line-height: 15px;
        position: relative;
        bottom: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .successimg {
        width: 300px;
        height: 300px;
        position: relative;
        bottom: 150px;
    }

    #earning {
        color: rgb(236, 80, 80);
        font-size: larger;
    }
    
}