body, html {
    margin: 0;
    padding: 0;
    min-height: 100%; /* Allow the body to grow as needed */
    overflow-x: hidden; /* Prevent horizontal scrolling if unnecessary */
}

nav {
    position: fixed;  /* Position the nav at the bottom */
    bottom: 0;        /* Stick the nav to the bottom */
    width: 100%;      /* Ensure the nav stretches across the full width */
    background-color: #fff; /* Optional: add a background color */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /* Optional: add shadow */
    z-index: 1000;    /* Ensure the nav is above other content */
    padding: 20px 0;  /* Adjust padding as necessary */
    height: 60px;

}

@media (max-width: 768px) {
    .navbar {
       padding: 20px 0px 40px 0px;
       background-color: red;
    
    }
    
    .links-container {
        display: flex;
        gap: 10px;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
        padding: 0px 30px 0px 30px;
    }

    .link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        line-height: 0px;
    }

    .icon-container {
        width: 30px;
        object-fit: cover;
        overflow: hidden;
    }

    .icon-container img {
        width: 100%;
        object-fit: cover;
        filter: grayscale(100%) opacity(0.6); /* Apply grayscale and slightly reduce opacity */
        transition: filter 0.3s ease; /* Smooth transition */
    }
    
    .icon-container img:hover {
        filter: grayscale(0%); /* Revert to color on hover */
    }

    .main-container {
        padding: 0;
        margin: 0 auto;
        /* border: 1px solid green; */

        background-color: whitesmoke;
        overflow-x: hidden;
        overflow-y: auto;
    }

    .header-contaier {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
    }

    .header-img-container {
        width: 100%;
        height: 20%;
        object-fit: cover;
        overflow: hidden;
        /* border: 1px solid red; */
    }

    .header-img {
        width: 100%;
        object-fit: cover;
        /* border: 1px solid red; */
    }

    .header-data {
        display: flex;
        flex-direction: column;
        position: relative;
        bottom: 250px;
        color: #ffffff;
        padding-left: 30px;
        /* border: 1px solid red; */
        line-height: 0px;

    }

    #level {
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        background-color: rgba(255, 255, 255, 0.438);
        color: #4c9e6d;
        border-radius: 20px;
        padding: 10px;
        font-size: smaller;
    }

    .name {
        margin-bottom: 20px;
    }

    .level p {
        color: #45BA73;
        font-weight: 700;
        text-align: center;
    }

    .earnings {
        line-height: 0px;
    }

    .earnings h3 {
        color: #e2e0e0;
        font-weight: 300;
    }

    .status-container {
        display: flex;
        justify-content: space-between;
        /* border: 1px solid red; */
        background-color: white;
        padding: 0px 20px 0px 20px;
        align-items: center;
        position: relative;
        bottom: 200px;
        box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2); /* This adds the bottom shadow */
    }

    .wrap-left {
        line-height: 0px;
    }
    .wrap-right {
        width: 50px;
        object-fit: cover;
        overflow: hidden;
        
    }

    .on {
        width: 100%;
        object-fit: cover;
    }

    .order-cta-container {
        position: relative;
        bottom: 170px;
        background-color: white;
        /* border: 1px solid red; */
        padding: 20px 120px 20px 0px;
        width: 100%;
        max-height: 120px;

    }

    .cta-orders {
        display: flex;
        /* justify-content: space-between; */
        align-items: center;
        /* border: 1px solid red; */
    }

    .ctaView {
        text-decoration: none;
        color: red;
    }

    .order-bag-container {
        width: 120px;
        overflow: hidden;
        object-fit: cover;
        margin-right: 20px;
        padding-left: 20px;
    }
    
    .orderBag {
        width: 100%;
        object-fit: cover;
    }

    .order-cta-details {
        line-height: 0px;
        /* border: 1px solid red; */
        /* padding-right: 20px; */
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: left;
        display: flex;
        flex-direction: column;
        padding-right: 20px;
    }
    /* .order-cta-details h1{
        color: #2c786c;
    } */

    .cta1 {
        font: 1.2rem;
        
    }

    .orders-container {
        padding-bottom: 100px;
    }

    .cta2 {
        font-size: 1rem;
        color: #ccc;
    }

    #viewDetails2 {
        background-color: #ccc;
    }
    #viewDetails {
        background-color: #45BA73;
    }
}
