<!DOCTYPE html>

<div class="filter-sidebar">
    <div class="sidebar-container">
 
        <div class="title">
            <h1 class="filter">Filters</h1>
            <h1 class="clear">Clear all</h1>
        </div>
        

        <p>Sort by</p>
        <form id="sort-filter-form">
            <ul class="filter-options">
                <li>
                    <label>
                        <input type="radio" name="sort" value="relevance" checked>
                        Relevance
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="sort" value="fastest">
                        Fastest Delivery
                    </label>
                </li>
                <li>
                    <label>
                        <input type="radio" name="sort" value="distance">
                        Distance
                    </label>
                </li>
            </ul>

            <!-- Offers Section -->
            <p>Offers</p>
            <ul class="offer-options">
                <li>
                    <label>
                        <input type="checkbox" name="offer" value="free-delivery">
                        Free Delivery
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="offer" value="accept-vouchers">
                        Accept Vouchers
                    </label>
                </li>
                <li>
                    <label>
                        <input type="checkbox" name="offer" value="deals">
                        Deals
                    </label>
                </li>
            </ul>

            <!-- Cuisines Section -->
            <p>Cuisines</p>
            <ul class="cuisine-options">
                <li><label><input type="checkbox" name="cuisine" value="beverages"> Beverages</label></li>
                <li><label><input type="checkbox" name="cuisine" value="biryani"> Biryani</label></li>
                <li><label><input type="checkbox" name="cuisine" value="bread"> Bread</label></li>
                <li><label><input type="checkbox" name="cuisine" value="burgers"> Burgers</label></li>
                <li><label><input type="checkbox" name="cuisine" value="cakes"> Cakes</label></li>
                <li><label><input type="checkbox" name="cuisine" value="chicken"> Chicken</label></li>
                <li><label><input type="checkbox" name="cuisine" value="chicken-wings"> Chicken Wings</label></li>
                <li><label><input type="checkbox" name="cuisine" value="coffee"> Coffee</label></li>
                <li><label><input type="checkbox" name="cuisine" value="desserts"> Desserts</label></li>
                <li><label><input type="checkbox" name="cuisine" value="dimsum"> Dimsum</label></li>
                <li><label><input type="checkbox" name="cuisine" value="donut"> Donut</label></li>
                <li><label><input type="checkbox" name="cuisine" value="dumpling"> Dumpling</label></li>
                <li><label><input type="checkbox" name="cuisine" value="fish"> Fish</label></li>
                <li><label><input type="checkbox" name="cuisine" value="fried-chicken"> Fried Chicken</label></li>
                <li><label><input type="checkbox" name="cuisine" value="fries"> Fries</label></li>
                <li><label><input type="checkbox" name="cuisine" value="fruit-shake"> Fruit Shake</label></li>
                <li><label><input type="checkbox" name="cuisine" value="halo-halo"> Halo-Halo</label></li>
                <li><label><input type="checkbox" name="cuisine" value="healthy"> Healthy</label></li>
                <li><label><input type="checkbox" name="cuisine" value="ice-cream"> Ice Cream</label></li>
                <li><label><input type="checkbox" name="cuisine" value="lomi"> Lomi</label></li>
                <li><label><input type="checkbox" name="cuisine" value="milk-tea"> Milk Tea</label></li>
                <li><label><input type="checkbox" name="cuisine" value="noodles"> Noodles</label></li>
                <li><label><input type="checkbox" name="cuisine" value="pancakes-waffles"> Pancakes and Waffles</label></li>
                <li><label><input type="checkbox" name="cuisine" value="pancit"> Pancit</label></li>
                <li><label><input type="checkbox" name="cuisine" value="pares"> Pares</label></li>
                <li><label><input type="checkbox" name="cuisine" value="pasta"> Pasta</label></li>
                <li><label><input type="checkbox" name="cuisine" value="pizza"> Pizza</label></li>
                <li><label><input type="checkbox" name="cuisine" value="ramen"> Ramen</label></li>
                <li><label><input type="checkbox" name="cuisine" value="shawarma"> Shawarma</label></li>
                <li><label><input type="checkbox" name="cuisine" value="silog"> Silog</label></li>
                <li><label><input type="checkbox" name="cuisine" value="snacks"> Snacks</label></li>
                <li><label><input type="checkbox" name="cuisine" value="takoyaki"> Takoyaki</label></li>
                <li><label><input type="checkbox" name="cuisine" value="ulam"> Ulam</label></li>
            </ul>
        </form>
    </div>
</div>
