
.search-form {
    display: flex;
    margin: 40px 0;
    /* display: none; */
  }
  
  .search-input {
    flex: 1;
    padding: 20px;
    padding-left: 65px;
    background-color:rgba(218, 214, 214, 0.4);
    border: none;
    border-radius: 40px;
    font-size: 16px;
  }

  .search-input:hover {
    border: 1px solid #ccc;
  }
  


  .search {
    position: absolute;
    width: 20px;
    left: 95px;
    top: 60px;
    filter: grayscale(100%); 
    opacity: 0.5; 
    transition: filter 0.3s ease, opacity 0.3s ease; 
  }

  .search:hover {
    filter: grayscale(0%); 
    opacity: 1; 
  }

.main-container {
    /* display: none; */
    display: flex;
    justify-content: center;
    position: fixed;
    right: 250px;
    padding: 0 60px;
    /* border: 1px solid red; */
    width: 55%;
    height: 100%;
    font-family: "Roboto", sans-serif;
    overflow-y: auto; 
    /* background-color: red; */
    margin-top: 45px;
  
}

.cuisine-list {
    display: flex;
    align-items: left;
    gap: 15px;
}
.wrap-image1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img-container1 {
    width: 120px;
    height: 120px;
    object-fit: cover;
    overflow: hidden;
    border: 1px solid #CCC;
    border-radius: 20px;
}

.food-card {
    width: 100%;
    overflow: hidden;
}

.wrap-image1 h1 {
    font-size: 1rem;
}

.wrap-next {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: white;
    position: absolute;
    right: 0;
    margin-right: 40px;
    margin-top: 50px;
    box-shadow: 2px 2px 20px gray;

}

.main-components {
    /* display: none; */
    /* border: 1px solid yellow; */
    width: 100%;
    height: 150vh;
    padding: 0 10px;
}
.main-container::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
  }
.promo-box-container {
    /* border: 1px solid green; */
    width: 100%;
    height: 45vh;
    border-radius: 20px;
    margin-bottom: 60px;
    object-fit: cover;
    overflow: hidden;
}

.promotional {
    width: 100%;
   
    object-fit: cover;
    overflow: hidden;
   


}

.cuisine-box-container {
    
    /* border: 1px solid violet; */
    width: 100%;
    height: 200px;
    padding-top: 20px;
    border-radius: 20px;
    margin-bottom: 60px;
    margin: 32px 0px 0px;
    overflow: hidden;
}

.cuisine-box-container h1 {
    font-weight: 400;
    color: #111111;
    margin: 0px 0px 16px;
}

.vendor-list-box-container {
    /* border: 1px solid orange; */
    width: 100%;
    height: auto;
    border-radius: 20px;
    margin: 52px 0px 0px;
    margin-bottom: 500px;
    border: 1px solid red;
    padding-bottom: 200px;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
}

.vendor-container {
    column-count: 3;
    column-gap: 20px;

}

.vendor-list-box-container h1 {
    font-weight: 400;
    color: #111111;
    margin: 0px 0px 16px;
}

.vendor-card-container {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    border: 1px solid silver;
    border-radius: 20px;
    height: 275px;
  
}

.img-container {
    width: 100%;
    height: 22vh;
    overflow: hidden;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.img-container img {
    width: 100%;
    height: 187px;
    object-fit: cover;
}

.details-container {
    margin-left: 20px;
    border: 1px solid red;
}

.details-container h1 {
    display: inline;
    font-size: 18px;
    margin: 0;
}

.details-container p {
    font-size: 14px;
    color: gray;
}


