{% extends 'components/rider/dashboard_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}
{% include 'layout/rider/navbar.html' %}

<div class="main-container">
    <div class="header-container">
        <div class="header-img-container">
            <img class="header-img" src="{% static 'icons/header.png' %}" alt="Header">
        </div>
        <div class="header-data">
            <div class="level1">
                <button id="level" disabled>Soti Delivery</button>
            </div>
            <div class="name">
                <h2>Partner {{ user.first_name }}</h2>
            </div>

            <div class="earnings">
                <h3>Your Earnings</h3>
                <h1>₱<span id="totalEarnings">{{ total_earnings }}</span></h1>
            </div>
        </div>

        <div class="status-container">
            <div class="wrap-left">
                <h1>Status: <span id="status">{{ rider.is_available|yesno:"Online,Offline" }}</span></h1>
                <p id="statusMessage">
                    {{ rider.is_available|yesno:"Open to any delivery,Turn on status to receive Delivery Assignments" }}
                </p>
            </div>
            <div class="wrap-right">
                <img class="on" src="{% static 'icons/' %}{{ rider.is_available|yesno:'online,offline' }}.png" id="toggleStatus" alt="Toggle Status">
            </div>
        </div>

        <div id="order-cta" class="order-cta-container">
            <div class="cta-orders">
                <div class="order-bag-container">
                    <img id="orderBag" class="orderBag" src="{% static 'icons/delivery-bag.png' %}" alt="Delivery Bag">
                </div>
                <div class="order-cta-details" id="ctaDetails">
                    <h1 class="cta1"></h1>
                    <a class="ctaView" href="/rider/orders/">View details &gt;</a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById('toggleStatus').addEventListener('click', function() {
        fetch("{% url 'rider:toggle_status' %}", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            document.getElementById('status').innerText = data.new_status;
            document.getElementById('toggleStatus').src = "{% static 'icons/' %}" + data.status_image;

            // Update the paragraph message
            const messageElement = document.getElementById('statusMessage');
            const orderCta = document.getElementById('order-cta');

            if (data.new_status === 'Online') {
                messageElement.innerText = 'Open to any delivery';
                orderCta.style.display = 'block';
            } else {
                messageElement.innerText = 'Turn on status to receive Delivery Assignments';
                orderCta.style.display = 'none';
            }
        });
    });

    const ordersUrl = "{% url 'rider:orders' %}";

    function updateOrderCount() {
        fetch("{% url 'rider:get_order_count' %}")
            .then(response => response.json())
            .then(data => {
                if (data.count >= 1) {
                    document.getElementById('ctaDetails').innerHTML =
                       `<h1 class="cta1">${data.count} delivery orders found!</h1>
                        <a class="ctaView" href="${ordersUrl}">View details &gt;</a>`;
                } else {
                    document.getElementById('ctaDetails').innerHTML =
                        `<h1 class="cta1">No available orders at the moment.</h1>`;
                       
                }
                
            });
    }

    

    // Call it once on page load
    updateOrderCount();

    // Optional: refresh every 30 seconds
    setInterval(updateOrderCount, 30000);

    path('fetch_updated_earnings/', views.fetch_updated_earnings, name='fetch_updated_earnings'),


</script>
    

{% endblock %}