{% extends 'components/rirder_dashboard_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}


<div class="main-container">
    <div class="header-container">
        <div class="header-img-container">
            <img class="header-img" src="{% static 'icons/header.png' %}" alt="Header">
        </div>
        <div class="header-data">
            <div class="level1">
                <button id="level" disabled>Soti Delivery</button>
            </div>
            <div class="name">
                <h2>Partner <?php echo htmlspecialchars($first_name); ?></h2>
            </div>

            <div class="earnings">
                <h3>Your Earnings</h3>
                <h1>₱<span id="totalEarnings">0.00</span></h1>
            </div>
        </div>

        <div class="status-container">
            <div class="wrap-left">
                <h1>Status: <span id="status"><?php echo $currentStatus; ?></span></h1>
                <p>Turn on status to receive Delivery Assignments</p>
            </div>
            <div class="wrap-right">
                <img class="on" src="icons/<?php echo strtolower($currentStatus); ?>.png" id="toggleStatus" alt="Toggle Status">
            </div>
        </div>

        <div id="order-cta" class="order-cta-container">
            <div class="cta-orders">
                <div class="order-bag-container">
                    <img id="orderBag" class="orderBag" src="icons/delivery-bag.png" alt="Delivery Bag">
                </div>
                <div class="order-cta-details" id="ctaDetails">
                    
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}