{% extends 'components/dashboard_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}

  <header class="header">

    <div class="logo-container">
      <img class="logo-img" src="">
      <h1>Blooper</h1>
    </div>

    <div class="header-elements">

      <div class="element-icon-container" id="menu-book">
        <img id="menu-book-img" class="element-icon" src="{% static 'restaurant/images/menu.svg' %}">
        <p>Menu Book</p>
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/bell.svg' %}">
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/settings.svg' %}">
      </div>
      <div class="element-icon-container" id="user-container">
        <img class="element-icon" src="{% static 'restaurant/images/white-user.png' %}">
      </div>

    </div>

  </header>  

  <div class="toolbar">
    <div class="toolbar-sort">
      <h3>All</h3>
      <img id="caret-down" src="{% static 'restaurant/images/caret-down.svg' %}">
    </div>

    <form action="" method="GET" class="search-form">
      <img class="search" src="{% static 'storefront/images/icons/search.svg' %}">
      <input type="text" name="search_query" placeholder="Enter token number or order ID to search" class="search-input">
    </form>

    <div class="tool-icon-container">

      <div class="tool-icon-wrap">
        <img class="tool-icon" src="{% static 'restaurant/images/refresh.svg' %}">
        <h3>Refresh</h3>
      </div>

      <div class="tool-icon-wrap">
        <img class="tool-icon" src="{% static 'restaurant/images/report.svg' %}">
        <h3>Report</h3>
      </div>

      <div class="tool-icon-wrap">
        <h3>Online</h3>
        <img id="toggle-icon" class="tool-icon" src="{% static 'restaurant/images/offline.png' %}">
        
      </div>

    </div>
    
  </div>

  <main>
    <aside>
      <div class="aside-container">
        <div class="aside-element">
          <img class="aside-icon" src="{% static 'restaurant/images/orders.svg' %}">
          <div class="aside-items">
            <h3>All Orders</h3>
            <h5>Number of Orders</h5>
          </div>
         
        </div>
        <div class="aside-element">
          <img class="aside-icon" src="{% static 'restaurant/images/menu2.svg' %}">
          <div class="aside-items">
            <h3>Menu</h3>
            <h5>Number of Products</h5>
          </div>
          
        </div>
        <div class="aside-element">
          <img class="aside-icon" src="{% static 'restaurant/images/clock.svg' %}">
        
          <div class="aside-items">
            <h3>Menu</h3>
            <h5>Number of Products</h5>
          </div>
        </div>

        <div class="quick-add-container">
          <img class="quick-add-image" src="{% static 'restaurant/images/fast-food.png' %}">
          <button class="add-button"> <span class="plus">+</span> Add Channel</button>
        </div>
      </div>
    </aside>
  </main>







{% endblock %}