{% extends 'components/dashboard_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}

  <header class="header">

    <div class="logo-container">
      <img class="logo-img" src="">
      <h1>Blooper</h1>
    </div>

    <div class="header-elements">

      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/menu.svg' %}">
        <p>Menu Book</p>
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/bell.svg' %}">
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/user.svg' %}">
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/user.svg' %}">
      </div>

    </div>
  
 
  </header>  





{% endblock %}