{% extends 'components/dashboard_base.html' %}

{% load static %}




{% if not user.is_authenticated %}
    <script>window.location.href = "/";</script>
{% endif %}


{% block content %}

  <header class="header">

    <div class="logo-container">
      <img class="logo-img" src="">
      <h1>Blooper</h1>
    </div>

    <div class="header-elements">

      <div class="element-icon-container" id="menu-book">
        <img id="menu-book-img" class="element-icon" src="{% static 'restaurant/images/menu.svg' %}">
        <p>Menu Book</p>
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/bell.svg' %}">
      </div>
      <div class="element-icon-container">
        <img class="element-icon" src="{% static 'restaurant/images/settings.svg' %}">
      </div>
      <div class="element-icon-container" id="user-container">
        <img class="element-icon" src="{% static 'restaurant/images/white-user.png' %}">
      </div>

    </div>

  </header>  

  <div class="toolbar">
    <div class="toolbar-sort">
      <h1>All</h1>
      <img id="caret-down" class="element-icon" src="{% static 'restaurant/images/caret-down.svg' %}">
    </div>

    <form action="" method="GET" class="search-form">
      <img class="search" src="{% static 'storefront/images/icons/search.svg' %}">
      <input type="text" name="search_query" placeholder="Search in Menu" class="search-input">
    </form>

    <div class="tool-icon-container">
      <img class="tool-icon" src="{% static 'restaurant/images/refresh.svg' %}">
      <h1>Refresh</h1>
    </div>
    <div class="tool-icon-container">
      <img class="tool-icon" src="{% static 'restaurant/images/report.svg' %}">
      <h1>Report</h1>
    </div>
    <div class="tool-icon-container">
      <img class="tool-icon" src="{% static 'restaurant/images/switch-off.svg' %}">
      <h1>Report</h1>
    </div>
  </div>







{% endblock %}