<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ restaurant.name }} - Soti Delivery</title>
</head>
<body>
  <div class="main-container">
    <div class="heading-box-container">
      <div class="content-container">
        <div class="link-container">
          <p id="resto-list">Restaurant List</p>
          <p>&gt;&gt;</p>
          <p>{{ restaurant. restaurant.baranggay }}</p> 
        </div>

        <div class="vendor-info-container">
          <div class="img-container">
            {% if restaurant.profile_picture %}
              <img class="image" src="{{ restaurant.profile_picture.url }}" alt="{{ restaurant.name }}">
            {% else %}
              <img class="image" src="/static/default-restaurant.jpg" alt="Default Image">
            {% endif %}
          </div>
          <div class="details-container">
            <p id="category" class="category">{{ restaurant.restaurant_type }}</p> 
            <h1>{{ restaurant.name }}</h1>
            <h1>&mdash;</h1>
            <h1>{{ restaurant.baranggay }}</h1>
            <div class="delivery">
              <img class="icon" src="{% static 'storefront/images/icons/rider.svg' %}">
              <p><span class="fd"> Free Delivery</span> <span class="fee"><del>&#8369;39</del></span></p>
              <div class="circle"></div>
              <img class="icon" src="{% static 'storefront/images/icons/picnic.svg' %}">
              <p>Min. order &#8369;119</p>
            </div>
            <div class="delivery">
              <img class="icon" src="{% static 'storefront/images/icons/star.svg' %}">
              <p><span class="review">0</span> <span class="reviewpar">(0)</span></p>
              <p id="see-review">See reviews</p>
              <img id="info" class="icon" src="{% static 'storefront/images/icons/info.svg' %}">
              <p id="more-info">More info</p>
            </div>
          </div>
        </div>
      </div>
      <div class="mini-nav-container">
        <div class="mini-nav">
          <form action="browse_products.php" method="GET" class="search-form">
            <img class="search" src="{% static 'storefront/images/icons/search.svg' %}">
            <input type="text" name="search_query" placeholder="Search in Menu" class="search-input">
          </form>
          <div class="mini-nav-links">
            <a>Popular(6)</a>
            <a>Sandwiches(3)</a>
            <a>Rice Meals(3)</a>
            <a>Pasta(3)</a>
            <a>Coffee & Chocolate(2)</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
