<!DOCTYPE html>

{% load static %}


<div class="hero-container">
    <div class="section-container">
        <div class="menu-container">
            <div class="title-container">
                <img id="flame" src="{% static 'storefront/images/icons/flame.svg' %}">
                <h1 class="flame">Popular</h1>
                <p>Most ordered right now</p>
            </div>
            {% for product in products}
            <div class="card-container">
                
                    <div class="details">
                        <h1>{{ % product.name}}</h1>
                        <p class="price"><span class="span-price">&#8369; {{ % product.price}}</span></p>
                        <p class="description">{{ % product.description}}</p>
                    </div>
                    <div class="product-img-container">
                        <img class="product-img" src="{{ restaurant.product_picture.url }} alt='Image of {{ % product.name}}'">
                        <img id="add-to-cart-{'product_id'} ?>" class="plus" src="{% static 'storefront/images/icons/plus.svg' %}" 
                            alt="Add to cart" 
                            onclick="addToCart({'product_id'})">
                    </div>
               
            </div>
            {% endfor %}
        </div>

        <div class="cart-container">
            <div id="button-container" class="button-container">
                <button class="delivery-btn">Delivery</button>
                <button id="pickup-btn">Pick-up</button>  
            </div>

            <div class="cart-cta-container">
                <img class="cart-img" src="icons/cart.svg">
                <div class="cart-cta">
                <h1>Hungry?</h1>
                <p>You haven't added anything to your cart!</p>
                </div>
               
            </div>

            <div class="cart-items-container">
                <h1>Your Items</h1>
                <div id="cart-items">
                
                </div>
                <div class="subtotal-container">
                    <div class="subtotal">
                        <p>Subtotal</p>
                        <p id="sub-total"></p>
                    </div>
                    <div class="standard-delivery-container">
                        <p>standard delivery</p>
                        <p>&#8369;39</p>
                    </div>
                    
                </div>
            </div>

      
                
                <div class="review-payment-cta">
                    <div class="total">
                        <h1>Total<span class="tax"> (incl. fees and tax)</span></h1>
                        <h1 id="total-price">&#8369;0</h1>
                    </div>
                    <p class="summary">See summary</p>
                    <form method="POST" action="store-order.php">
                        <input type="hidden" id="subtotal-wrap" name="subtotal" value="0">
                        <input type="hidden" id="total-wrap" name="total" value="0">
                        <input type="hidden" id="quantity-wrap" name="quantity" value="0">
                        <button type="submit" id="review-payment-address">Review payment and address</button>
                    </form>

                </div>
            
        </div>
    </div>
</div>