body {
   margin: 26px 64px;
   font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo-img {
    width: 48px;
    height: 48px;
    border: 1px solid red;
    border-radius: 50%;
}

.logo-container h1 {
    font-size: 1rem;
}

.header-elements {
    display: flex;

}

.element-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1vw;
    min-width: 15px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(230, 229, 229);
    margin-right: 10px;
    
}

.element-icon {
    width: 100%;
    min-width: 15px;
    object-fit: cover;
    
}

#menu-book-img {
    width: 1vw;
    padding-right: 10px;
}

#menu-book {

    width: 168px;
    padding: 0px;
    border-radius: 120px;
}

#user-container {
    background-color: orangered;
}

.toolbar {
    display: flex;
    width: 97.8%;
    height: 6vh;
    padding: 10px 0px 10px 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 120px;
    background-color: rgb(230, 229, 229);
    justify-content: space-between;
    margin-top: 50px;

}

.toolbar-sort {
    display: flex;
    align-items: center;
}

#caret-down {
    width: 2rem;
    height: 2vh;

}



.search-form {
    display: flex;
    margin: 40px 0;
    /* border: 1px solid red; */
    /* width: 120px; */
    width: 400px;
    height: 5vh;

    position: relative;
    bottom: 35px;
    right: 180px;
  }
  
.search-input {
    flex: 1;
    padding: 5px;
    padding-left: 50px;
    background-color:rgba(255, 255, 255, 0.979);
    border: none;
    border-radius: 40px;
    font-size: 1rem;
    font-weight: 500;
}

.search-input:hover {
    border: 1px solid #ccc;
}



.search {
    position: relative;
    width: 1.2vw;
    left: 40px;

    filter: grayscale(100%); 
    opacity: 0.5; 
    transition: filter 0.3s ease, opacity 0.3s ease; 
}

.search:hover {
    filter: grayscale(0%); 
    opacity: 1; 
}

.tool-icon-container {
    display: flex;

    align-items: center;
    gap: 50px;
    padding: 0px;
}

.tool-icon-wrap {
    

    display: flex;
    align-items: center;

}


.tool-icon {
    width: 1vw;
    height: auto;
    margin-right: 20px;
}

#toggle-icon {
    width: 2.5vw;
    margin-left: 10px;
}


main {
    width: 100%;
    border: 1px solid red;
    height: 100vh;
    margin-top: 30px;
    font-family: "Raleway", sans-serif;
}

aside {
    width: 20%;
    height: 100vh;
    border: 1px solid red;
    padding: 10px;
    background-color: #111111;
    border-radius: 20px;

}

.aside-container {
    display: block;
    
}

.aside-items {
    color: whitesmoke;
    font-size: smaller;
    line-height: 5px;
}

.aside-items p {
    color: #ccc;
}
.aside-element {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding: 10px;
}

.aside-icon {
    width: 2.5vw;
    height: 100%;
    margin-right: 10px;
}

#aside-element-1 {
    background-color: rgb(161, 92, 250);
    border-radius: 20px;
    padding: 10px;
}

.quick-add-container {
    background-color: rgb(241, 211, 76);
    display: block;
    padding: 10px;
    border-radius: 20px;
}

.quick-add-image {
    position: inherit;
    width: 100%;
    
}

.add-button {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #111111;
    color: whitesmoke;
    border-radius: 20px;
}


