body {
   margin: 26px 64px;
   font-family: Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo-img {
    width: 48px;
    height: 48px;
    border: 1px solid red;
    border-radius: 50%;
}

.logo-container h1 {
    font-size: 1rem;
}

.header-elements {
    display: flex;

}

.element-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1vw;
    min-width: 15px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(230, 229, 229);
    margin-right: 10px;
    
}

.element-icon {
    width: 100%;
    min-width: 15px;
    object-fit: cover;
    
}

#menu-book-img {
    width: 1vw;
    padding-right: 10px;
}

#menu-book {

    width: 168px;
    padding: 0px;
    border-radius: 120px;
}

#user-container {
    background-color: orangered;
}

.toolbar {
    display: flex;
    width: 100%;
    height: 6vh;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 120px;
    background-color: rgb(230, 229, 229);
    justify-content: space-between;
    margin-top: 40px;

}

.toolbar-sort {
    display: flex;
    align-items: center;
}

#caret-down {
    width: 2rem;
    height: 2vh;
    border: 1px solid red;
}



.search-form {
    display: flex;
    margin: 40px 0;
    /* border: 1px solid red; */
    /* width: 120px; */
    width: 220px;
    height: 3vh;
    /* display: none; */
    border: 1px solid red;
    position: relative;
    bottom: 30px;
    right: 400px;
  }
  
.search-input {
    flex: 1;
    padding: 5px;
    padding-left: 35px;
    background-color:rgba(255, 255, 255, 0.979);
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
}

.search-input:hover {
    border: 1px solid #ccc;
}



.search {
    position: absolute;
    width: 15px;
    padding-left: 10px;
    padding-top: 7px;

    filter: grayscale(100%); 
    opacity: 0.5; 
    transition: filter 0.3s ease, opacity 0.3s ease; 
}

.search:hover {
    filter: grayscale(0%); 
    opacity: 1; 
}

.tool-icon-container {
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: ;
    padding: 0px;
}

.tool-icon-wrap {
    

    display: flex;
    align-items: center;
    margin-right: 40px;
}


.tool-icon {
    width: 1vw;
    height: auto;
    margin-right: 20px;
}

#toggle-icon {
    width: 2.5vw;
    margin-left: 10px;
}


