body {
   margin: 26px 64px;
}

.header {
    display: flex;
    justify-content: space-between;
}

.logo-container {
    display: flex;
}

.logo-img {
    width: 48px;
    height: 48px;
    border: 1px solid red;
    border-radius: 50%;
}

.logo-container h1 {
    font-size: 1rem;
}

.header-elements {
    display: flex;

}

.element-icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    width: 1vw;
    min-width: 15px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 50%;
    background-color: rgb(230, 229, 229);
    margin-right: 10px;
    
}

.element-icon {
    width: 100%;
    min-width: 15px;
    object-fit: cover;
    
}

#menu-book-img {
    width: 1vw;
    padding-right: 10px;
}

#menu-book {

    width: 168px;
    padding: 0px;
    border-radius: 120px;
}

#user-container {
    background-color: orangered;
}

.toolbar {
    display: flex;
    width: 100%;
    border-radius: 20px;
    background-color: rgb(230, 229, 229);
    justify-content: space-between;
}

.toolbar-sort {
    display: flex;
}

#caret-down {
    width: 2rem;

    border: 1px solid red;
}



.search-form {
    display: flex;
    margin: 40px 0;
    /* border: 1px solid red; */
    /* width: 120px; */
    width: 220px;
    /* display: none; */
    border: 1px solid red;
  }
  
  .search-input {
    flex: 1;
    padding: 5px;
    padding-left: 35px;
    background-color:rgba(255, 255, 255, 0.979);
    border: none;
    border-radius: 40px;
    font-size: 15px;
    font-weight: 500;
  }

  .search-input:hover {
    border: 1px solid #ccc;
  }
  


  .search {
    position: absolute;
    width: 15px;
    padding-left: 10px;
    padding-top: 7px;
    
    filter: grayscale(100%); 
    opacity: 0.5; 
    transition: filter 0.3s ease, opacity 0.3s ease; 
  }

  .search:hover {
    filter: grayscale(0%); 
    opacity: 1; 
  }

.tool-icon-container {
    display: flex;
    border: 1px solid red;

    width: 30%;
}

.tool-icon-wrap {
    width: 1vw;

    display: flex;
}


.tool-icon {
    width: 100%;
}


