body {
   margin: 16px 64px;
}

.header {
    display: flex;
}

.logo-container {
    display: flex;
}

.logo-img {
    width: 48px;
    border: 1px solid red;
    border-radius: 50%;
}

.logo-container h1 {
    font-size: 1rem;
}

.header-elements {
    display: flex;

}

.element-icon-container {
    display: flex;
    padding: 20px;
    width: ;
}

.element-icon {
    width: 48px;
}